:root {
    --bg: #1C2331;
    --card: #2A3543;
    --accent: #27B3B5;
    --text: #E0E5E9;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg);
    color: var(--text);
    font-family: sans-serif;
}

.container {
    max-width: 1200px;
    margin: 30px auto;
    padding: 20px;
}

.top-bar {
    background-color: var(--card);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 100;
    margin-bottom: 25px;
}

.back-btn {
    color: var(--accent);
    text-decoration: none;
    font-weight: bold;
    display: flex;
    position: absolute;
    left: 5px;
    align-items: center;
    gap: 8px;
    transition: 0.2s;
}

.back-btn:hover {
    transform: translateX(-5px);
    color: white;
}

.controls {
    display: flex;
    gap: 15px;
    margin-bottom: 25px;
}

.controls select,
.controls button {
    padding: 10px;
    border-radius: 6px;
    border: none;
}

.controls button {
    background: var(--accent);
    font-weight: bold;
    cursor: pointer;
}

.split-layout {
    display: flex;
    gap: 25px;
}

.left-panel,
.right-panel {
    flex: 1;
    background: var(--card);
    border-radius: 10px;
    padding: 20px;
}

.field {
    margin-bottom: 18px;
}

.field label {
    display: block;
    margin-bottom: 6px;
    color: var(--accent);
}

.field textarea {
    width: 100%;
    height: 80px;
    padding: 10px;
    border-radius: 6px;
    border: none;
    resize: none;
}

#saveMenuBtn {
    width: 100%;
    padding: 12px;
    background: var(--accent);
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}

.right-panel {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.analytics-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.9rem;
}

.analytics-table th,
.analytics-table td {
    padding: 8px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    text-align: center;
}

.analytics-table th { 
    color: var(--accent);
}

h3 {
    padding-bottom: 15px;
}

@media (max-width: 768px) {
    .container {
        margin: 0px;
    }

    .split-layout{
        flex-direction:column ;
    }

    .back-text{
        display: none;
    }
}