:root {
  --bg: #1C2331;
  --card: #2A3543;
  --accent: #27B3B5;
  --text: #E0E5E9;
  --danger: #E74C3C;
}

body {
  font-family: sans-serif;
  background: var(--bg);
  color: var(--text);
}

*{
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1000px;
  margin: 30px auto;
  padding: 20px;
}

.top-bar {
    background-color: var(--card);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 2;
    margin-bottom: 25px;
}

.back-btn {
    position: absolute;
    left: 15px;
    color: var(--accent);
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: transform 0.2s, color 0.2s;
}

.back-btn:hover {
    color: var(--text);
    transform: translateX(-5px); 
}

.form-card, .list-card {
  background: var(--card);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 25px;
}

input, textarea, select {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 6px;
  border: none;
}

textarea {
  resize: none;
  height: 80px;
}

button {
  padding: 12px;
  background: var(--accent);
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.announcement {
  background: rgba(0,0,0,0.25);
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 12px;
}

.announcement.expired {
  opacity: 0.5;
}

.actions {
  margin-top: 10px;
}

.actions button {
  margin-right: 8px;
  padding: 6px 12px;
}

.delete {
  background: var(--danger);
  color: white;
}

.filter-bar {
  display: flex;
  gap: 12px;
  margin-bottom: 15px;
}

.filter-bar input,
.filter-bar select {
  padding: 10px;
  border-radius: 6px;
  border: 2px solid #E0E5E9;
  background: #1C2331;
  color: grey;
}

@media(max-width:736px){
    .back-text{
        display: none;
    }
}