:root {
  --bg: #1C2331;
  --card: #2A3543;
  --accent: #27B3B5;
  --text: #E0E5E9;
  --danger: #E74C3C;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 30px auto;
  padding: 20px;
}

.top-bar {
    background-color: var(--card);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 2;
    margin-bottom: 25px;
}

.back-btn {
    position: absolute;
    left: 15px;
    color: var(--accent);
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: transform 0.2s, color 0.2s;
}

.back-btn:hover {
    color: var(--text);
    transform: translateX(-5px); 
}

.split-layout {
  display: flex;
  gap: 20px;
}

h3{
  margin-bottom: 20px;
}

.card {
  flex: 1;
  background: var(--card);
  padding: 20px;
  border-radius: 10px;
}

.utility-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

select {
  padding: 6px;
  border-radius: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

button {
  padding: 5px 10px;
  background: var(--accent);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media(max-width:736px){
    .back-text{
        display: none;
    }

    .split-layout{
      flex-direction: column;
    }
}