:root {
    --bg: #1C2331;
    --card: #2A3543;
    --accent: #27B3B5;
    --text: #E0E5E9;
    --danger: #E74C3C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--bg);
    color: var(--text);
    font-family: sans-serif;
}

.container {
    max-width: 1300px;
    margin: 30px auto;
    padding: 20px;
}

.top-bar {
    background-color: var(--card);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 2;
    margin-bottom: 25px;
}

.back-btn {
    position: absolute;
    left: 15px;
    color: var(--accent);
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: transform 0.2s, color 0.2s;
}

.back-btn:hover {
    color: var(--text);
    transform: translateX(-5px); 
}

.layout {
    display: flex;
    gap: 20px;
}

.analytics-panel {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    justify-content: space-between;
}

.card{
    display: flex;
    gap: 20px;
}

.analytics-card {
    background: var(--card);
    padding: 20px;
    border-radius: 10px;
}


.content-panel {
    width: 70%;
}

.filters {
    display: flex;
    gap: 15px;
    height: 50px;
}

.filters input,
.filters select {
    padding: 10px;
    border-radius: 6px;
    border: none;
}

.items-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 15px;
}

.item-card {
    background: var(--card);
    padding: 15px;
    border-radius: 10px;
}

.item-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

.badge {
    font-size: 0.75rem;
    padding: 4px 8px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 5px;
}

.active {
    background: var(--danger);
}

.recovered {
    background: var(--accent);
}

.recover-btn {
    margin-top: 10px;
    padding: 8px;
    border: none;
    width: 100%;
    border-radius: 6px;
    cursor: pointer;
    background: var(--accent);
    font-weight: bold;
}

@media(max-width:736px){
    .back-text{
        display: none;
    }

    .layout{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}