:root {
    --primary-bg: #1C2331;
    --card-bg: #2A3543;
    --accent: #27B3B5;
    --text-light: #E0E5E9;
    --text-muted: #959BA4;
    --danger: #E74C3C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: var(--primary-bg);
    color: var(--text-light);
}

.dashboard-container {
    display: flex;
}



.sidebar {
    width: 260px;
    background-color: var(--card-bg);
    height: 100vh;
    position: fixed;
    padding: 30px 20px;
    border-right: 1px solid rgba(255, 255, 255, 0.05);
    z-index: 999;
}

.logo {
    font-size: 20px;
    font-weight: 800;
    color: var(--accent);
    margin-bottom: 40px;
    display: flex;
    gap: 12px;
    align-items: center;
}

.student-nav , .admin-nav {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.hidden{
    display: none;
}

.nav-item {
    color: var(--text-muted);
    text-decoration: none;
    padding: 12px 15px;
    border-radius: 10px;
    transition: 0.2s;
    display: flex;
    align-items: center;
    gap: 12px;
    font-weight: 500;
}

.nav-item:hover,
.nav-item.active {
    background-color: rgba(39, 179, 181, 0.1);
    color: var(--accent);
}

.main-content {
    flex: 1;
    margin-left: 260px;
    padding: 40px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.sign-out-btn {
       background: var(--danger);
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.dashboard-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.full-width {
    grid-column: span 2;
}

.bottom-row {
    grid-column: span 2;
    display: flex;
    gap: 25px;
}

.wide {
    flex: 2;
}

.narrow {
    flex: 1;
}

.dashboard-card {
    background: var(--card-bg);
    padding: 24px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    border-left: 5px solid var(--accent);
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}

.dashboard-card h3 {
    color: var(--accent);
    font-size: 19px;
    display: flex;
    gap: 12px;
}

.open-btn {
    margin-top: auto;
    padding: 12px;
    background: var(--accent);
    color: #131924;
    border: none;
    border-radius: 10px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
}

.open-btn:hover {
    transform: translateY(-2px);
}

.meal-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    margin-bottom: 20px;
}

.meal {
    background: rgba(0, 0, 0, 0.2);
    padding: 15px;
    border-radius: 12px;
}

.meal h4 {
    color: var(--accent);
    font-size: 0.9rem;
    margin-bottom: 5px;
}


.lf-section {
    margin-bottom: 12px;
}

.lost-found{
    display: flex;
    justify-content: space-around;
}

.lf-title {
    font-size: 15px;
    margin-bottom: 8px;
    font-weight: 700;
}



.marketplace-items , .lost-found-items {
    display: flex;
    gap: 15px;
    overflow-x: auto;
    padding-bottom: 15px;
    margin-bottom: 10px;
}

.lost-found-items{
    flex-direction: column;
}

.marketplace-item {
    min-width: 120px;
    background: rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.marketplace-item img {
    width: 60px;
    height: 60px;
    border-radius: 8px;
    object-fit: cover;
}

.utilities-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-bottom: 20px;
}

.utility-box {
    background: rgba(0, 0, 0, 0.2);
    padding: 12px;
    border-radius: 10px;
    text-align: center;
}

.utility-status {
    display: block;
    font-size: 12px;
    font-weight: bold;
    margin-top: 5px;
    padding: 2px 8px;
    border-radius: 4px;
}

.utility-status.normal {
    color: #2ecc71;
}

.utility-status.down {
    color: #e74c3c;
}

.utility-status.slow {
    color: #f1c40f;
}

.mobile-nav-bar {
  display: none;
  background: var(--card-bg);
  padding: 15px;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
}

.mobile-nav-bar .logo {
    margin: 0;
}

#menuToggle{
    width: 30px;
    height: 30px;
    background-color: var(--card-bg);
}

@media (max-width: 768px) {
  .dashboard-container {
    display: flex;
    flex-direction: column;
  }

  .dashboard-grid {
    display: flex;
    flex-direction: column;
  }

  .mobile-nav-bar{
    display: flex;
  }

  .sidebar {
    transform: translateX(-100%);
    transition: transform 0.3s ease;
  }

  .sidebar.active {
    transform: translateX(0);
    width: 100%;
  }

  .main-content {
    margin-left: 0;
    padding: 20px;
  }


  .bottom-row {
    flex-direction: column;
  }

  .meal-row{
    display: flex;
    flex-direction: column;
  }
}

