:root {
    --bg: #1C2331;
    --card: #2A3543;
    --accent: #27B3B5;
    --text: #E0E5E9;
    --danger: #E74C3C;
}

body {
    font-family: sans-serif;
    background: var(--bg);
    color: var(--text);
    padding: 40px;
}

.top-bar {
    background-color: var(--card);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 2;
    margin-bottom: 25px;
}

.back-btn {
    position: absolute;
    left: 15px;
    color: var(--accent);
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: transform 0.2s, color 0.2s;
}

.back-btn:hover {
    color: var(--text);
    transform: translateX(-5px); 
}

h1 {
    margin: 0;
    color: var(--accent);
}

#menuContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}


.day-card {
    background: var(--card);
    padding: 20px;
    border-radius: 12px;
}

.day-card h2 {
    color: var(accent);
    margin-bottom: 15px;
    text-align: center;
}

.meal {
    background:var(--bg);
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
}

.meal h3 {
    margin-bottom: 5px;
}

button {
    background:var(--accent);
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bold;
}

button.danger {
    background: var(--danger);
}

#ratingModal {
    position: fixed;
    inset: 0;
    z-index: 100;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.6);
}

.modal-box {
    width: 360px;
    background: var(--card);
    padding: 25px;
    width: 400px;
    border-radius: 10px;
}

.modal-box h2 {
    color: var(--accent);
    text-align: center;
}

select, textarea {
    width: 380px;
    padding: 10px;
    background: var(--bg);
    border: none;
    border-radius: 8px;
    margin: 10px 0;
    color: var(--text);
}

textarea{
  max-width: 380px;
}

@media(max-width:736px){
#menuContainer{
    display: flex;
    flex-direction: column;
}

.back-text{
    display: none;
}
}