:root {
  --bg: #1C2331;
  --card: #2A3543;
  --accent: #27B3B5;
  --text: #E0E5E9;
  --danger: #E74C3C;
}

*{
    margin: 0;
  padding: 0;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: sans-serif;
}

.container {
  max-width: 1200px;
  margin: 30px auto;
  padding: 20px;
}

.top-bar {
    background-color: var(--card);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 2;
    margin-bottom: 25px;
}

.back-btn {
    position: absolute;
    left: 15px;
    color: var(--accent);
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: transform 0.2s, color 0.2s;
}

.back-btn:hover {
    color: var(--text);
    transform: translateX(-5px); 
}

.post-card {
    background: var(--card);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 25px;
}

.post-card h3{
  margin-bottom: 25px;
}

.post-card input,
.post-card select {
    width: 98%;
    margin-bottom: 10px ;
    padding: 10px;
    border-radius: 6px;
    border: none;
}



.row {
  display: flex;
  gap: 10px;
}

.post-card button {
  background: var(--accent);
  padding: 12px;
  border: none;
  width: 100%;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.search-bar {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.search-bar input,
.search-bar select {
  padding: 10px;
  border-radius: 6px;
  border: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 20px;
}

.item-card {
  background: var(--card);
  border-radius: 10px;
  padding: 15px;
}

.item-card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 8px;
}

.item-card p {
  display: flex;
  gap: 25px;
}

.price {
  color: var(--accent);
  font-weight: bold;
}

.delete-btn {
  background: var(--danger);
  border: none;
  color: white;
  padding: 6px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 8px;
}


@media(max-width:736px){
    .back-text{
        display: none;
    }
}