body {
  background: #1C2331;
  color: #E0E5E9;
  font-family: sans-serif;
}

:root{
    --accent: #27B3B5;
    --card: #2A3543;
}

*{
    margin: 0;
    padding:0;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 30px;
}

.top-bar {
    background-color: var(--card);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 2;
    margin-bottom: 25px;
}

.back-btn {
    position: absolute;
    left: 15px;
    color: var(--accent);
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: transform 0.2s, color 0.2s;
}

.back-btn:hover {
    color: var(--text);
    transform: translateX(-5px); 
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin-bottom: 30px;
}

.utility-card {
  background: var(--card);
  padding: 20px;
  border-radius: 8px;
}

.status-normal { color: #2ecc71; }
.status-slow { color: #f1c40f; }
.status-down { color: #e74c3c; }


.card {
    background: var(--card);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 25px;
}

.card input,
.card textarea,
.card select {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 0px;
    border-radius: 6px;
    border: none;
}

.card textarea{
    max-width: 100%;
}

.card button {
    width: 100%;
    padding: 12px;
    background: var(--accent);
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.card h3 {
    margin-bottom: 15px;
    color: #27B3B5;
}

@media(max-width:736px){
    .back-text{
        display: none;
    }

    .grid{
        display: flex;
        flex-direction: column;
    }
}

